/*universal selector styling*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

/*Body styling*/
body {
  background-color: white;
}

header {
  padding: 10px;
  font-family: "Space Grotesk", sans-serif;
  background-color: #32a860;
}

header .myName {
  text-decoration: none;
  font-family: "Space Grotesk", sans-serif;
  background-color: none;
  font-size: 28px;
}

header h1 {
  display: inline-block;
}

header nav {
  float: right;
  font-family: "Space Grotesk", sans-serif;
  font-size: 23px;
  display: inline-block;
}

header li:hover {
  /* background-color: #ffffff1e; */
  transform: translateY(0) scale(1.3);
}
header li {
  display: inline-block;
  padding: 8px 10px;
}

/*Hero image*/
.hero-image {
  height: 290px;
  width: 100%;
  margin-bottom: 25px;
  max-width: 100%;
  bottom: 100px;
  position: relative;
}
.hero-text {
  text-align: right;
  font-size: 30px;
  text-shadow: 2px 2px #56d8a6;
}
.hero-text h1 {
  padding: 10px 50px;
  position: absolute;
  border-radius: 10px;
  font-family: "Space Grotesk", sans-serif;
  right: 10px;
  top: 200px;
  color: #32a860;
}

.app-title-big a {
  /* position: absolute; */
  background-color: #32a860;
  font-family: "Space Grotesk", sans-serif;
  /* bottom: -650px;
  left: 300px;
  width: 150px; */
}
/* About Me Styling */

.headshot {
  width: 250px;
  height: 100%;
  margin-left: 302px;
  margin-bottom: 70px;
  margin-top: 0px;
}
#aboutmesection {
  display: flex;
  margin-left: -60px;
  margin-right: 85px;
}
#aboutme {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  border-left: #32a860 solid;
  margin-right: 80px;
  padding-left: 350px;
  margin-bottom: 60px;
  padding-right: 48px;
}

#aboutmetitle {
  font-family: "Space Grotesk", sans-serif;
  padding-right: 10px;
  font-size: 35px;
  margin-left: -430px;
  text-align: end;
}
/*Styling for images of my work*/

#myworktitle {
  font-family: "Space Grotesk", sans-serif;
  padding-right: 10px;
  font-size: 35px;
  margin-left: 130px;
  margin-right: 10px;
  text-align: end;
}
#myworksection {
  display: flex;
  margin-left: -60px;
  margin-right: 130px;
}

.workCardSec {
  border-left: #32a860 solid;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  margin-right: 50px;
}
/* .workCardSec .bigCardCont {
  height: 750px;
  width: 550px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: relative;
} */
/* .workCardSec img {
  height: 250px;
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  position: relative;
  max-width: 100%;
  height: auto;
} */

.cardTitles {
  background-color: #32a860;
  font-family: "Space Grotesk", sans-serif;
  width: 150px;
}

/* Hover styling on images */
.workCardSec .bigimg:hover {
  opacity: 0.6;
}
.workCardSec img:hover {
  opacity: 0.6;
}

/* Contact me section styling */
.mylinks {
  border-left: #32a860 solid;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  word-spacing: 20px;
  font-size: 20px;
  text-decoration: underline;
  padding: 10px;
  color: #ffffff;
  margin-left: 182px;
  margin-bottom: 80px;
}
header {
  padding: 0;
}
.mylinks a {
  margin-right: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: 10px;
  text-decoration: none;
}
#contact-me-title {
  font-family: "Space Grotesk", sans-serif;
  font-size: 35px;
  text-align: start;
  margin-right: 200px;
}

footer {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
}

/* .cardImagesTop {
  margin-bottom: 0.75rem;
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.cardImagesBttm {
  margin-bottom: 0.75rem;
  display: block;
  width: 80%;
  height: auto;
  /* margin-left: auto;
  margin-right: auto;
/* } */
/* .allCards { */
/* float: left; */
/* width: 580px;
  height: auto;
  padding: 0.75rem;
  margin-bottom: 2rem;
  border: 0;
} */

.bigCardImg {
  max-width: 100%;
  height: auto;
  height: 670px;
  width: 605px;
}

.bigCardCont {
  border: none;
}

.navbar {
  background: linear-gradient(
    90deg,
    rgba(0, 1, 1, 0.07466736694677867) 0%,
    rgba(0, 0, 0, 0.06346288515406162) 0%
  );
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}
