/*universal selector styling*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
  text-decoration: none;
}

/*Body styling*/
body {
  background-image: url("/assets/Images/whiteBack.jpg");
}
p {
  font-family: "Roboto", sans-serif;
}
header {
  padding: 10px;
  font-family: "Space Grotesk", sans-serif;
  background-color: #32a860;
}

header .myName {
  text-decoration: none;
  font-family: "Space Grotesk", sans-serif;
  background-color: none;
  font-size: 28px;
}

header h1 {
  display: inline-block;
}

header nav {
  float: right;
  font-family: "Space Grotesk", sans-serif;
  font-size: 23px;
  display: inline-block;
}

header li:hover {
  /* background-color: #ffffff1e; */
  transform: translateY(0) scale(1.3);
}
header li {
  display: inline-block;
  padding: 8px 10px;
}

/*Hero image*/
.hero-image {
  height: 290px;
  width: 100%;
  margin-bottom: 25px;
  max-width: 100%;
  bottom: 100px;
  position: relative;
}
.hero-text {
  text-align: right;
  font-size: 30px;
  text-shadow: 2px 2px #56d8a6;
}
.hero-text h1 {
  padding: 10px 50px;
  position: absolute;
  border-radius: 10px;
  font-family: "Space Grotesk", sans-serif;
  right: 10px;
  top: 200px;
  color: #32a860;
}

.headshot {
  width: 250px;
  height: 100%;
  margin-left: 302px;
  margin-bottom: 70px;
  margin-top: 0px;
  position: relative;
  border: none;
  border-radius: 0.25rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 60px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 50px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px 3px 6px 0px inset;
  margin-top: 0;
}
#aboutmesection {
  display: flex;
  margin-left: -60px;
  margin-right: 85px;
}
#aboutme {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  border-left: #32a860 solid;
  margin-right: 80px;
  padding-left: 350px;
  margin-bottom: 60px;
  padding-right: 48px;
}

#aboutmetitle {
  font-family: "Space Grotesk", sans-serif;
  padding-right: 10px;
  font-size: 35px;
  margin-left: -430px;
  text-align: end;
}
/*Styling for images of my work*/

#myworktitle {
  font-family: "Space Grotesk", sans-serif;
  padding-right: 10px;
  font-size: 35px;
  margin-left: 130px;
  margin-right: 10px;
  text-align: end;
}
#myworksection {
  display: flex;
  margin-left: -60px;
  margin-right: 130px;
}
h3 {
  font-family: "Space Grotesk", sans-serif;
}
.workCardSec {
  border-left: #32a860 solid;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  margin-right: 50px;
}

.cardTitles {
  background-color: #32a860;
  font-family: "Space Grotesk", sans-serif;
  width: 150px;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.cardTitles:hover {
  font-family: "Space Grotesk", sans-serif;
  width: 150px;
  text-decoration: none;
  transform: translateY(0) scale(1.3);
}

/* Hover styling on images */
.workCardSec .bigimg:hover {
  opacity: 0.6;
}
.workCardSec img:hover {
  opacity: 0.6;
}

/* Contact me section styling */
.mylinks li {
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
  word-spacing: 20px;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 80px;
  list-style-type: none;
  display: inline;
  margin-left: 125px;
}

.mylinks {
  border-left: #32a860 solid;
  margin-left: 182px;
  color: #000000;
}

header {
  padding: 0;
}
.linkTxt i {
  color: #000000;
  font-family: "Space Grotesk", sans-serif;
  margin-right: 10px;
  padding-right: 20px;
  text-decoration: none;
  margin-left: 52px;
  margin-bottom: 80px;
  text-align: center;
  word-spacing: 20px;
  font-size: 30px;
  padding: 10px;
}

.linkTxt a {
  color: #000000;
}
li:hover {
  transform: translateY(0) scale(1.3);
}
.linkTxt i:hover {
  font-family: "Space Grotesk", sans-serif;
  margin-right: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: 10px;
  text-decoration: none;
  transform: translateY(0) scale(1.3);
}

#contact-me-title {
  font-family: "Space Grotesk", sans-serif;
  font-size: 35px;
  text-align: start;
  margin-right: 200px;
}

footer {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
}

.bigTitle {
  background-color: #32a860;
  font-family: "Space Grotesk", sans-serif;
  width: 150px;
  position: relative;
  bottom: 130px;
}

.navbar {
  background: linear-gradient(
    90deg,
    rgba(0, 1, 1, 0.07466736694677867) 0%,
    rgba(0, 0, 0, 0.06346288515406162) 0%
  );
  background-size: contain;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.card {
  background: none;
  border: none;
}

.allCards {
  position: relative;
  border: none;
  border-radius: 0.25rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin-top: 100px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 0%
  );
  position: relative;
  left: 40px;
  top: 0px;
  z-index: 1;
}

@media (max-width: 600px) {
  .element {
    display: inline-block;
    width: 100%;
  }
}
